@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}
#contenedor {
    background-color: pink;
    width: 60vw;
    height: 50vh;
    position: absolute;
    inset: 0;
    margin: auto;
}
input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #FF416C;
	border: 1px solid #FF416C;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}